appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
async-generator==1.10
attrs==21.2.0
audioread==2.1.9
backcall==0.2.0
bleach==4.0.0
bme680==1.1.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
cycler==0.10.0
dataclasses==0.8
decorator==5.0.9
defusedxml==0.7.1
deprecation==2.1.0
Django==3.2.6
entrypoints==0.3
eyeD3==0.9.5
filetype==1.0.7
hmmlearn==0.2.2
idna==3.2
image==1.5.33
importlib-metadata==4.6.4
ipykernel==5.5.5
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.0.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
librosa==0.8.1
llvmlite==0.36.0
MarkupSafe==2.0.1
matplotlib==3.1.2
mistune==0.8.4
nbclient==0.5.4
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.3
numba==0.53.1
numpy==1.18.1
opencv-python==4.5.3.56
packaging==21.0
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.1
plotly==4.1.1
pooch==1.4.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
-e git+https://github.com/tyiannak/pyAudioAnalysis.git@944f1d777bc96717d2793f257c3b36b1acf1713a#egg=pyAudioAnalysis
pycparser==2.20
pydub==0.24.0
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.1
pyzmq==22.2.1
qtconsole==5.1.1
QtPy==1.10.0
requests==2.26.0
resampy==0.2.2
retrying==1.3.3
scikit-learn==0.23.2
scipy==1.4.1
Send2Trash==1.8.0
simplejson==3.16.0
six==1.16.0
smbus==1.1.post2
sounddevice==0.4.2
sqlparse==0.4.1
terminado==0.11.1
testpath==0.5.0
threadpoolctl==2.2.0
tornado==6.1
tqdm==4.46.0
traitlets==4.3.3
typing-extensions==3.10.0.0
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.5.0
